@font-face {
  font-family: "Midnight Flame Gothic";
  src: url("./midnight-flame-gothic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rulinover";
  src: url("./rulinover.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Steel";
  src: url("./steel.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
